.login.sd {
  width: 500px;
  height: 500px;
  background: #4f3f68;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  input {
    width: 256px;
    height: 32px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  button {
    width: 256px;
    height: 39px;
    font-weight: bold;
    margin-top: 30px;
  }
}