.leftside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4f3f68;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logoCont {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    .logo {
      cursor: pointer;
      width: 200px;
      margin-top: 50px;
      object-fit: contain;
    }
  }
  .list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    @media only screen and (max-height:910px){
      .flex { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 120px;
      .currentTournament{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        position: absolute;
        top: 110px;
        .currentTourText{
        font-size: 13px;
        width: 60%;
        }
        .backCurrentTour{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-decoration: none;
          width: 60%;
          background-size: cover;
          border-radius: 5px;
          text-align: center;
          font-size: 14px;
          margin-top: 10px;
          height: 60px;
          .backTourText{
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: #0000008c;
            padding: 7px;
            font-size: 12px;
            border-radius: 5px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px black;
          }
        }
    
      }
        .topList:hover {
          color: @mainBlue;
          .titleList{
            color:@mainBlue
          }
        }
        .grey {
          background: #1f2022;
          width: 100%;
          padding: 15px 0px;
          margin: 12px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .odd {
          background-color: #1f2022;
        }
        .topList {
          width: 70%;
          text-decoration: none;
          color: #fff;
          cursor: pointer;
          align-items: center;
          height: 33px;
          padding-left: 50px;
          display: flex;
          width: 100%;
          padding: 21px 50px;
          .listIcon {
            font-size: 20px;
            height: 100%;
            width: 15%;
            display: flex;
            align-items: center;
          }
          .titleList {
            margin-left: 13px;
            width: 80%;
            font-size: 13px;
            cursor: pointer;
            align-items: center;
            height: 40px;
            display: flex;
            outline: none;
          }
        }
        .active{
          color: @mainBlue;
          .titleList{
            color:@mainBlue
          }
        }
      }
    }
    
    @media only screen and (min-height:910px){
      .flex { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .currentTournament{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        position: absolute;
        top: 134px;
        .currentTourText{
        font-size: 13px;
        width: 60%;
        }
        .backCurrentTour{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-decoration: none;
          width: 60%;
          background-size: cover;
          border-radius: 5px;
          text-align: center;
          font-size: 14px;
          margin-top: 10px;
          height: 60px;
          .backTourText{
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: #0000008c;
            padding: 7px;
            font-size: 12px;
            border-radius: 5px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px black;
          }
        }
    
      }
        .topList:hover {
          color: @mainBlue;
          .titleList{
            color:@mainBlue
          }
        }
        .grey {
          background: #1f2022;
          width: 100%;
          padding: 15px 0px;
          margin: 12px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .odd {
          background-color: #1f2022;
        }
        .topList {
          text-decoration: none;
          color: #fff;
          width: 70%;
          cursor: pointer;
          align-items: center;
          height: 33px;
          padding-left: 50px;
          display: flex;
          width: 100%;
          padding: 21px 50px;
          .listIcon {
            font-size: 20px;
            height: 100%;
            width: 15%;
            display: flex;
            align-items: center;
          }
          .titleList {
            margin-left: 13px;
            width: 80%;
            font-size: 13px;
            cursor: pointer;
            align-items: center;
            height: 40px;
            display: flex;
            color: #fff;
            outline: none;
            text-decoration: none;
          }
        }
        .active{
          color: @mainBlue;
          .titleList{
            color:@mainBlue
          }
        }
      }
    }
    .leftBottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 10px;
      bottom: 0;
      a {
        cursor: pointer;
        color: white;
        margin: 5px;
        font-size: 17px;
        &:hover {
          color: @mainBlue;
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 1366px) {  
  .leftside {
    width: 270px
  }
}