.keyframes(@name; @arguments) {
  @-moz-keyframes @name {
    @arguments();
  }
  @-webkit-keyframes @name {
    @arguments();
  }
  @keyframes @name {
    @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.register {
  background-color: #18191b;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  .logoCont {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    top: 50px;
    .logo {
      width: 220px;
      object-fit: contain;
    }
  }
  .inputCont {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 21px;
    background: #24252742;
    margin-left: 350px;
    background-image: linear-gradient(
      to right,
      #242527,
      #242527,
      #242527,
      transparent,
      transparent
    );
    .ititle {
      font-weight: 400;
      font-size: 27px;
      margin-bottom: 3px;
    }
    .desc {
      color: #a7a7a7;
      font-size: 14px;
      margin-bottom: 45px;
    }
    .inputSection {
      span {
        font-size: 11px;
        color: #a7a7a7;
        padding-left: 15px;
      }
      .input {
        .icon {
          color: greenyellow;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .iconClose {
          color: red;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        background: #363737;
        border-radius: 200px;
      }
      width: 304px;
      margin-bottom: 25px;
      input {
        height: 40px;
        color: white;
        background-color: transparent;
        border: none;
        width: 90%;
        padding-left: 15px;
      }
    }
    .inputSection:last-child {
      margin-bottom: 0;
    }
  }
  .buttonCont {
    display: flex;
    justify-content: space-between;
    .already {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      text-decoration: underline;
      color: #a7a7a7;
      a {
        color: #a7a7a7
      }
      .span {
        cursor: pointer;
      }
    }
    button {
      background: transparent;
      border: none;
      outline: none;
      height: 40px;
      width: 145px;
      border-radius: 200px;
      font-weight: 600;
      /* margin-right: 10px; */
      border: 1px solid #a7a7a7;
      color: #a7a7a7;
      display: flex;
      justify-content: center;
      align-items: center;
      .rai-activity-indicator {
        margin-left: 6px;
      }
    }
  }

  .bg {
    width: 90%;
    position: fixed;
    height: 80%;
    background-position: center;
    background-size: contain;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }
  .layer {
    position: absolute;
    bottom: 0;
    right: 0%;
    height: 100%;
    object-fit: contain;
    width: 100%;
    filter: drop-shadow(1px 1px 6px #0eebff) drop-shadow(-1px -1px 6px #0eebff);
    .keyframes(fade-in;{
            0% { filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent); }
            100% { filter: drop-shadow(1px 1px 6px #0eebff) drop-shadow(-1px -1px 6px #0eebff); }
            });

    .animation(fade-in 3s linear infinite alternate);
  }
}
