.cartx {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    .left {
        width: 60%; 
        .item {
            margin-bottom: 20px;
           .title {
               display: flex;
               justify-content: flex-start;
               align-items: center;
                span:first-child {
                    font-size: 20px;
                    font-weight: bold;
                    color: #4f3f68;
                    border: 1px solid #4f3f68;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 200px;
                    margin-right: 13px;
                }
                span:last-child {
                    font-size: 20px;
                    font-weight: bold;
                    color: #4f3f68;
                }
           }
            .content {
                border: 1px solid #4f3f68;
                margin-top: 20px;
                border-radius: 10px;
                display: flex;
                padding: 10px;
                align-items: center;
                color: #4f3f68;
                font-weight: bold;
                justify-content: space-between;
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
                button {
                    background: #4f3f68;
                    color: #fff;
                    padding: 9px 29px;
                    outline: none;
                    border: none;
                    border-radius: 3px;
                    position: relative;
                }
                &.gg {
                    padding: 28px 10px;
                }
                &.xx {

                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    input {
                        margin-top: 15px;
                        height: 37px;
                        padding-left: 15px;
                        width: 91%;
                        border: 1px solid #eee;
                    }
                }
            }
            .all {
                color: #4f3f68;
                font-weight: bold;
                margin-top: 30px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .right {
        margin-left: 52px;
    padding: 47px 0;
    width: 30%;
        .item {
            margin-bottom: 20px;
           .title {
               display: flex;
               justify-content: flex-start;
               align-items: center;
                span:first-child {
                    font-size: 20px;
                    font-weight: bold;
                    color: #4f3f68;
                    border: 1px solid #4f3f68;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 200px;
                    margin-right: 13px;
                }
                span:last-child {
                    font-size: 20px;
                    font-weight: bold;
                    color: #4f3f68;
                }
           }
           button {
            background: #4f3f68;
            color: #fff;
            padding: 12px 40px;
            outline: none;
            border: none;
            border-radius: 3px;
            font-weight: bold;
            margin-top: 20px;
            position: relative;
        }
        }
    }
}