.keyframes(@name; @arguments) {
  @-moz-keyframes @name {
    @arguments();
  }
  @-webkit-keyframes @name {
    @arguments();
  }
  @keyframes @name {
    @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.Login {
  background-color: #18191b;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  .logoCont {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    top: 50px;
    .logo {
      width: 220px;
      object-fit: contain;
    }
  }
  .inputCont {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 21px;
    background: #24252742;
    margin-left: 20%;
    background-image: linear-gradient(
      to right,
      #242527,
      #242527,
      #242527,
      transparent,
      transparent
    );
    .ititle {
      font-weight: 400;
      font-size: 27px;
      margin-bottom: 3px;
    }
    .desc {
      color: #a7a7a7;
      font-size: 14px;
      margin-bottom: 45px;
    }
    input {
      color: white;
      background: #363737;
      border: none;
      height: 40px;
      width: 304px;
      border-radius: 200px;
      padding-left: 15px;
      margin-bottom: 25px;
    }
    input:last-child {
      margin-bottom: 0;
    }
    .forgot {
      cursor: pointer;
      margin-bottom: 106px;
      display: flex;
      justify-content: flex-end;
      color: #a7a7a7;
      font-size: 13px;
    }
    .buttonCont {
      display: flex;
      justify-content: space-between;
      button:first-child {
        background: #37c1f0;
        border: none;
        outline: none;
        height: 37px;
        width: 145px;
        border-radius: 200px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        .rai-activity-indicator {
          font-size: 11px !important;
          margin-left: 10px;
          margin-top: 1px;
        }
       }
      button:last-child {
        background: transparent;
        border: none;
        outline: none;
        height: 40px;
        width: 145px;
        border-radius: 200px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid #a7a7a7;
        color: #a7a7a7;
      }
    }
  }
  .bg {
    width: 90%;
    position: fixed;
    height: 80%;
    background-position: center;
    background-size: contain;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }
  .layer {
    position: absolute;
    bottom: 0;
    right: 0%;
    height: 100%;
    object-fit: contain;
    width: 100%;
    filter: drop-shadow(1px 1px 6px #0eebff) drop-shadow(-1px -1px 6px #0eebff);
    .keyframes(fade-in;{
            0% { filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent); }
            100% { filter: drop-shadow(1px 1px 6px #0eebff) drop-shadow(-1px -1px 6px #0eebff); }
            });

    .animation(fade-in 3s linear infinite alternate);
  }
}
