.mainside {
  width: calc(100% - 260px);
  position: relative;
  margin-left: 260px;
  background: transparent;
  margin-top: 80px;
  padding-left: 30px;
  .back {
    width: calc(100% - 260px);
    height: 570px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    opacity: 0.4;
  }
  .profile {
    height: 160px;
  }
  .contents {
    position: relative;
    .mainContent {
      .contentTitle {
        font-weight: 500;
        margin-bottom: 15px;
      }
      .mainContents {
        height: 200px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .mainContentImg {
          width: 30%;
          height: 200px;
          background-size: cover;
          border-radius: 5px;
          background-position: center;
        }
        .mainContentText {
          width: 36%;
          display: flex;
          padding: 10px 0px;
          flex-direction: column;

          .mainContentTextTitle {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 1px;
          }
          .mainContentTexts {
            height: 135px;
            font-size: 13px;
            line-height: 27px;
            color: #bdbdbd;
            overflow: hidden;
          }
          .priceAndDate {
            display: flex;
            .price {
              margin-right: 40px;
              .priceTitle {
                font-size: 12px;
                color: #9c9c9c;
              }
              .priceAmount {
                margin-top: 5px;
                padding: 4px;
                width: 120px;
                display: inline-table;
                text-align: center;
                border-radius: 3px;
                background-color: #37c1f0;
                font-size: 14px;
              }
              .orange {
                background-color: #f05737;
              }
            }
          }
        }

        .mainContentInfo {
          width: 30%;
          display: flex;
          padding-right: 20px;
          justify-content: flex-end;
          align-items: center;
          .arrow {
            cursor: pointer;
            width: 40px;
            height: 30px;
            border-radius: 3px;
            display: flex;
            background-color: #94949478;
            justify-content: center;
            align-items: center;
            padding: 0px 5px;
            span {
              transition: 1s;
              display: flex;
              font-size: 33px;
            }
            &:hover span {
              color: #94949400;
            }
          }

          .arrow:hover:after {
            content: "";
          }
        }
      }
    }
    .subContent {
      .title {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .tournaments {
          font-size: 16px;
          font-weight: bold;
        }
        .allTournaments {
          display: flex;
          align-items: center;
          &:hover {
            .arrowa {
              display: flex;
              align-items: center;
              margin-left: 3px;
            }
          }
          .arrowa{

            display: none;
          }
          cursor: pointer;
          font-size: 12px;
          margin-right: 20px;
        }
      }
      .subContents {
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        .onceContent {
          background-position: center;
          position: relative;
          background-size: cover;
          height: 165px;
          width: 23%;
          border-radius: 5px;
          .subDate {
            display: flex;
            font-size: 12px;
            position: absolute;
            top: 7px;
            border-radius: 3px;
            height: 20px;
            padding: 0px 5px;
            background-color: #b9b9b970;
            justify-content: center;
            align-items: center;
            left: 7px;
          }
          .subMore {
            display: flex;
            font-size: 18px;
            position: absolute;
            bottom: 7px;
            border-radius: 3px;
            padding: 3px;
            background-color: #b9b9b970;
            justify-content: center;
            align-items: center;
            right: 7px;
          }
        }
      }
    }
  }
}

