.header {
  background: transparent;
  height: 75px;
  width: calc(100% - 340px);
  display: flex;
  margin-left: 340px;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 0 25px;
  justify-content: space-between;
  .search {
    position: relative;
    input {
      outline: none;
      width: 420px;
      height: 41px;
      padding-left: 15px;
      border: 1px solid #eee;
      border-radius: 3px;
    }
    svg {
      color: #4f3f68;
      font-size: 25px;
      position: absolute;
      right: 7px;
      top: 8px;
    }
  }
  .right {
    display: flex;
    color: #4f3f68;
    justify-content: center;
    align-items: center;
    .cart {
      position: relative;
      .count {
        position: absolute;
        right: -7px;
        width: 16px;
        height: 16px;
        border-radius: 200px;
        background: red;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 10px;
        color: #fff;
        top: -6px;
      }
      .listCont {
        position: absolute;
        width: 500px;
        background: #4f3f68;
        top: 25px;
        right: -9px;
        border-radius: 5px;
        padding: 5px;
        color: #fff;
        font-weight: bold;
        .listItem {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ffffff26;
          .x {
            position: relative;
          }
          .img {
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
            }
          }
        }
      }
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      svg {
        font-size: 23px;
    margin-left: 5px;
      }
      .logout {
        font-weight: bold;
    background: #4f3f68;
    color: #fff;
    padding: 5px 21px;
    margin-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    position: relative
      }
    }
  }
}
