.single {
  margin-top: 150px;
  display: flex;
  .image {
    width: 50%;
    margin-right: 50px;
    img {
      width: 100%;
      height: 411px;
      object-fit: cover;
    }
  }
  .right {
    color: #4f3f68;
    font-weight: bold;
    font-size: 16px;
    .title {
      font-size: 20px;
    }
    .desc {
      font-size: 14px;
      color: #524343;
      margin-top: 10px;
    }
    .info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      span {
        margin: 5px 0;
      }
    }
    .count {
      margin: 20px 0;
      display: flex;
      width: 150px;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      font-size: 27px;
      border: 1px solid #00000030;
      padding: 0 16px;
    }
    button {
      width: 200px;
      height: 50px;
      font-weight: bold;
      margin-top: 20px
    }
  }
}
.commentCont {
  display: flex;
  flex-direction: column;
  color: #4f3f68;
  border: 2px solid #4f3f68;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  .display {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    .itemx {
      border-bottom: 1px dotted;
    padding: 8px 0;
    display: flex;
    position: relative;
    /* justify-content: unset; */
    margin-bottom: 8px;
    .name {
      font-weight: bold;
      margin-right: 15px;
    }
    .date {
      position: absolute;
      right: 40px;
      font-weight: bold;
    }
    .delete{
      position: absolute;
      right: 0;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
  }
  .send {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    input {
      padding: 10px 20px;
      width: 50%;
      margin-right: 14px;
      font-size: 15px;
      background: #efefef;
      border: 1px solid #4f3f6873;
    }
    svg {
      font-size: 30px;
    }
  }
}